<div class="divclass">
    <form action="" class="sss">
        <ul class="ss">
            <li>Hello world</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
        </ul>
    </form>
</div>

<%= link_to('Home', root_path) %>
<%= link_to('About', about_path) %>
