<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <style>
        .nav {
            background-color: red;
        }

        .left {
            background-color: blue;
            display:inline-block;
            width:40%;
        }

        .right {
            background-color: green;
            width:40%;
            display:inline-block;

        }
    </style>
</head>

<body>

    <div class="nav">Navbar</div>
    <div class='left'>Sidebar</div>
    <div class='right'>Main</div>
    <div>Footer</div>
    <div>Footer</div>

</body>

</html>
