<% @messages.each do |message| %>
<div class='message, container'>
    <div><%= message.content%></div>
    <p class='time'><%= message.created_at%></p>
</div>
<%end%>

<%= link_to 'New Message.', 'messages/new' %>
