<% get_page(@products, @page).each do |prod| %>
<%= link_to prod.name, product_path(prod) %>
<br>
<% end %>

<p>
    Page:
    <%= @page %>
</p>

<% get_num_pages(@products).times do |n| %>
<%= link_to "#{n }", products_page_path(:page => "#{n}") %>
<% end %>
