<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
<%=@messages.each do |message|%>
<div>
    <p><%= message.content %></p>
    <p><%= message.created_at %></p>
</div>
<% end %>
