<form action="" method='post'>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="number" class="form-control" name='add_first'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">+</button>
                </span>
                <input type="number" class="form-control" name='add_second'>
            </div>
        </div>
    </div>
    <br>

    <h2><%= @add_result %></h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="number" class="form-control" name='sub_first'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">-</button>
                </span>
                <input type="number" class="form-control" name='sub_second'>
            </div>
        </div>
    </div>
    <br>

    <h2><%= @sub_result %></h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="number" class="form-control" name='time_first'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">*</button>
                </span>
                <input type="number" class="form-control" name='time_second'>
            </div>
        </div>
    </div>
    <br>

    <h2><%= @time_result %></h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="number" class="form-control" name='div_first'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">/</button>
                </span>
                <input type="number" class="form-control" name='div_second'>
            </div>
        </div>
    </div>
    <br>

    <h2><%= @div_result %></h2>
    <div>
        <button class='btn btn-primary' type='submit'>Submit</button>
    </div>
</form>
