<form action="" method="POST">
    <input type="text" name='temp_f' value ="<%= @temp_f %>">
    <input type="submit" value='Convert!'>
</form>

The Temperature of <%= @temp_f %>&deg; F is equal to <%= @temp_c %> &deg;C
