<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>fo</title>
    </head>
    <body>
        <p>Hello <%= @name %> :)</p>        
        <%= yield %>
        <p>goo</p>

    </body>
</html>
