<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>name</title>
    </head>
    <body>

        <p>Hello
            <%= @name %>
            :)</p>
        <p>Hello
            <%= @age %>
            :)</p>
        <p>Hello
            <%= @array %>
            :)</p>
    </body>
</html>
