// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.main {
    font-size: 20px;
}
.message {
    background-color: #fff;
    font-weight: 300;
    padding: 16px;
    margin-bottom: 10px;
}
p.time {
    color: #0084d7;
    font-size: 12px;
    margin-top: 12px;
}
