Visitor Count:
<%= session[:count] %>

<form action="" method='post'>
    <div>
        <label for="">Language Preference:</label>
        <select name="language" id="">
            <option value="en">English</option>
            <option value="fr">Francais</option>
            <option value="es">Spanish</option>
        </select>
    </div>
    <div>
        <label for="">Color Preference:</label>
        <select name="color" id="">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select>
    </div>
    <div>
        <label for="">Color Preference:</label>
        <input type="color" name='color'>
    </div>
    <div>
        <label for="">Color Preference:</label>
        <input type="text" name='color'>
    </div>
    <div>
        <label for="">First Name:</label>
        <input type="text" name='first_name'>
    </div>
    <div>
        <label for="">Last Name:</label>
        <input type="text" name='last_name'>
    </div>
    <div>
        <label for="">Email:</label>
        <input type="text" name='email'>
    </div>
    <div>
        <label for="">Department</label>
        <input type="radio" name='department' value='sales'>
        Sales
        <input type="radio" name='department' value='marketing'>
        Marketing
        <input type="radio" name='department' value='technical'>
        Technical
    </div>

    <input type="hidden" name='id' value='123'>
    <input type="submit" value='Sign Up!'>
    <input type="reset">
</form>

<form action="/remove_bg" method='post'>
    <input type="hidden" name='_method' value='DELETE'>
    <input type="submit" value='Remove BG Color!'>
</form>

<p>My preffered language is:
    <%= session[:language] %></p>
